@mixin flexcontent {
  display: flex;
  border: 2px solid orange;
  padding: 1.5em;
  line-height: 3;
  flex-direction: column;
  color: #fff;
}

@mixin background($image) {
  background-image: url($image);
  background-position: center center;
  background-size: cover;
  width: 100%;
}

@mixin img($image) {
  background-image: url($image);
  background-position: center center;
  background-size: contain;
  width: 100%;
  order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}

@mixin h3() {
  text-transform: uppercase;
  font-weight: 400;
  color: orange;
  font-family: "robotoblack";
}

@mixin description {
  order: 1;
  text-align: center;
  font-size: $p;
  width: 100%;
  font-family: "robotoblack_italic";
}

#products {
  width: 100%;
  @media (max-width: 340px) {
    width: 90%;
  }
  background-color: aqua;
  h2 {
    text-align: center;
    font-size: $h2;
    padding: 1.3rem;
  }
  .grid-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.3%;
    justify-items: stretch;
    margin: 1%;
    .marketplace,
    .lending,
    .game-guild,
    .launchpad,
    .bridge {
      @include flexcontent();
    }
    .marketplace {
      @include background("../assets/images/nft-marketplace-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/NFT_marketplace-new-copy.png");
      }
      .description {
        @include description();
      }
    }
    .lending {
      @include background("../assets/images/lending-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/lending.png");
      }
      .description {
        @include description();
      }
    }
    .game-guild {
      @include background("../assets/images/game-guild-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/game-guild.png");
      }
      .description {
        @include description();
      }
    }
    .launchpad {
      @include background("../assets/images/launchpad-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/launchpad.png");
      }
      .description {
        @include description();
      }
    }
    .bridge {
      @include background("../assets/images/bridge-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/bridge.png");
      }
      .description {
        @include description();
      }
    }
  }
}
