@mixin flexcontent {
  display: flex;
  border: 2px solid orange;
  padding: 1.5em;
  line-height: 3;
  flex-direction: column;
  color: white;
  border-radius: 7px;
}

@mixin gridcontent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  justify-items: stretch;
  align-items: center;
  min-height: 50em;
}

@mixin gridcontent2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  justify-items: stretch;
  align-items: center;
  min-height: 50em;
}

@mixin background($image) {
  background-image: url($image);
  background-position: center center;
  background-size: cover;
  width: 100%;
}

@mixin img($image) {
  background-image: url($image);
  background-position: center center;
  background-size: contain;
  width: 100%;
  order: 2;
  background-repeat: no-repeat;
  padding: 15em;
}

@mixin h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: orange;
  font-size: $h2;
  font-family: "robotoblack";
}

@mixin description {
  order: 1;
  text-align: center;
  font-size: $p;
  width: 100%;
  font-family: "robotoblack_italic";
}

@mixin media {
  @media (max-width: 340px) {
    padding: 10em;
  }
}

@mixin order {
  order: 1;
}

#products {
  width: 100%;
  h2 {
    text-align: center;
    font-size: $h2;
    padding: 1.3rem;
  }
  .grid-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.3%;
    justify-items: stretch;
    margin: 1%;
    .marketplace,
    .lending,
    .game-guild,
    .launchpad,
    .bridge {
      @include flexcontent();
      @media (min-width: $bp-tablet) {
        @include gridcontent();
      }
    }
    .lending,
    .launchpad {
      @media (min-width: $bp-tablet) {
        @include gridcontent2();
      }
    }
    h3 {
      @include h3();
    }
    .marketplace {
      @include background("../assets/images/nft-marketplace-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/NFT_marketplace-new-copy.png");
        @include media();
      }
      .description {
        @include description();
      }
    }
    .lending {
      @include background("../assets/images/lending-bg.jpeg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/lending.png");
        @include media();
        @media (min-width: $bp-tablet) {
          @include order();
        }
      }
      .description {
        @include description();
      }
    }
    .game-guild {
      @include background("../assets/images/game-guild-bg.jpg");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/game-guild.png");
        @include media();
      }
      .description {
        @include description();
      }
    }
    .launchpad {
      @include background("../assets/images/launchpad-bg.jpeg");
      background-position: top center;
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/launchpad.png");
        @include media();
        @media (min-width: $bp-tablet) {
          @include order();
        }
      }
      .description {
        @include description();
      }
    }
    .bridge {
      @include background("../assets/images/bridge-bg2.png");
      h3 {
        @include h3();
      }
      .img {
        @include img("../assets/images/bridge.png");
        @include media();
      }
      .description {
        @include description();
      }
    }
  }
}
