#token {
  background-color: black;
  margin: 0 auto;
  h1{
    text-align: center;
    color:white;
    padding:30px;
    font-size: 35px;
  }
  h3{
    text-align: center;
    color:white;
    padding:10px 100px;
    font-size: 25px;
  }
  img{
    display: block;
  }
  @media (max-width:540px){
    h1{
      text-align: center;
      color:white;
      padding:30px;
      font-size: 25px;
    }
    h3{
      text-align: center;
      color:white;
      padding:10px 0px;
      font-size: 15px;
    }
    img{
      display: block;
    }
  }
  .token_utilities {
    position:relative;
    background:black;
    width: 100%;
    margin: 5% auto;
    padding: 20em;
    @media (max-width:417px) {
      
    ::-webkit-scrollbar{
      width:0;
    }
    img{
      position: absolute;
      right:7%;
      top:0;
      bottom:0;
      transform: scale(0.8);
    }
  }
    @media (min-width: 420px) {
      background:black;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      margin: 0% auto;
      padding: 19em;
      ::-webkit-scrollbar{
        width:0;
      }
      img{
        position: absolute;
        right:10%;
        top:0;
        margin-bottom:40px;
        transform: scale(0.8);

      }
    }
    @media (min-width: 520px) {
      padding: 18em;
      background:black;
      img{
        position: absolute;
        right:22%;
        top:5px;
        bottom:0;
      }
    }
    @media (min-width: $bp-tablet) {
      background:black;
      
      width: 100%;
      padding: 20em;
      margin: 0% auto;
      img{
        position: absolute;
        right:30%;
        top:0;
      }
      
    }
    @media (min-width: 1300px) {
      width: 100%;
      padding: 25em;
      img{
        position: absolute;
        right:35%;
        top:0;
        transform: scale(1.1);
      }
    }
    @media (min-width: 1640px) {
      width: 100%;
    }
  }
}
