html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./variables";
@import "./fonts";
@import "./links";
@import "./nav";
@import "./header";
@import "./article";
@import "./products";
@import "./token";
@import "./roadmap";
@import "./footer";
